@import 'variables';
@import "_box-sizing.scss";

.shop-item {
  border: solid $brand-primary 2px;
  width: 100%;
  min-width: 5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin: 1rem;
}

.shirt-div {
  width: 100%;
  padding: .5rem;
}

.shop-item__info {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: Verdana;
  padding: .5rem;
}
.shop-item-title {
  color: $brand-primary;
}

.descriptive-text {
  width: 100%;
  color: $brand-primary;
  font-size: .9rem;

}

.ul-shop-item-buttons {
  display: flex;
  width: 100%;
  color: $brand-primary;
  list-style: none;
  justify-content: space-around;
  font-size: 1.1rem;
  min-width: 1rem;

}

.shop-button {
  border-top: $brand-primary solid 2px;
  border-right: $brand-primary solid 2px;
  padding: .3rem;
  flex-grow: 1;
  text-align: center;
}

.shop-button-square {
  position: relative;
  padding: .3rem;
  flex-grow: 1;
  border-top: $brand-primary solid 2px;
  text-align: center;
  border-right: $brand-primary solid 2px;
}

.dropdown-options_square {
  position: absolute;
  list-style: none;
  left: -2%;
  bottom: 50%;
  display: none;
  padding: 0;
  margin: 0 0 1rem 0;
  border: $brand-primary solid 2px;
}

.squares {
  border-bottom: $brand-primary solid 2px;
  padding: .5rem .7rem;
}

.shop-button-sizes {
  position: relative;
  padding: .3rem;
  flex-grow: 1;
  border-top: $brand-primary solid 2px;
  text-align: center;
  font-size: 1rem;
  border-right: $brand-primary solid 2px;
}
.dropdown-options_sizes {
  position: absolute;
  list-style: none;
  right: 0%;
  bottom: 50%;
  display: none;
  padding: 0;
  margin: 0 0 1rem 0;
  border: $brand-primary solid 2px;
}

.sizes {
  border-bottom: $brand-primary solid 2px;
  padding: .5rem .7rem;

}

.shop-button-square:hover {
  color: white;
  display: flex;
  flex-direction: column;
  background: $brand-primary;
}

.shop-button-sizes:hover {
  color: white;
  display: flex;
  flex-direction: column;
  background: $brand-primary;
}

.shop-button-cart {
  border-top: $brand-primary solid 2px;
  padding: .3rem;
  flex-grow: 1;
  text-align: center;
}

.dropdown-item-tshirt-color-pink {
    // color: $pink;
    color: pink;
  }

.dropdown-item-tshirt-color-blue {
    // color: $blue;
    color: blue;
  }
