@import 'variables';
@import "_box-sizing.scss";

.shop-item {
  background: orange;
  border: solid black 1px;
  width: calc(90% / 3);
  display: flex;
  flex-direction: column;
}

.shirt-div {
  width: 100%;
}

.shop-item__info {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.descriptive-text {
  width: 100%;
}

.ul-shop-item-buttons {
  border: 1px solid black;
  display: flex;
  width: 100%;
}

.dropdown {
  display: flex;
  flex-direction: column-reverse;
}

.dropdown-item-tshirt-color-pink {
    // color: $pink;
    color: pink;
  }

.dropdown-item-tshirt-color-blue {
    // color: $blue;
    color: blue;
  }


.dropdown__options {
  display: flex;
  flex-direction: column-reverse;
}
